.background-image {
    background-size: cover; 
    background-position: center; 
    background-repeat: repeat; 
    height: 100%; 
    color: white; 
  }
  
  .ion-padding {
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 10px; 
  }
  #loginbackground {
    --background: url('https://i.postimg.cc/P56rvsjN/funny-cartoon-capybara-coloring-page-41422-577.avif') repeat center center / cover;
  }